.window {
    background-color: #050505;
    border-radius: 0.75rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 140%;
    color: white;
}

.nav {
    padding-inline: 0.75rem;
    padding-block: 0.5rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    border-bottom: 1px solid rgba(245, 245, 245, 0.488);
}

.dots {
    display: flex;
    gap: 0.4rem;
}

.nav-dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    cursor: default;
}

.red {
    background-color: #eb3535;
}

.yellow {
    background-color: rgb(247, 247, 81);
}

.green {
    background-color: rgb(27, 228, 0);
}

.title {
    font-size: 1.1rem;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-content {
    flex: 1;
    overflow-y: auto;
}

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: #050505;
}

*::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
    background: #555;
}

