*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,body,#root{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: #444;
    background-image: url(/mac-wallpaper.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.icons{
    width: 600px;
    height: 100px;
    background-color: pink;
    display: flex;
}

.icon{
    size: 40px;
}