nav{
    width: 100%;
    color: white;
    padding-inline: 0.75rem;
    padding-block: 0.3rem;
    background-color: rgba(91, 91, 91, 0.268);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.nav-logo{
    width: 1.1rem;
    height: 1.1rem;;
}

.left{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.right{
    display: flex;
    align-items: center;
    gap: 1rem;
}